/* ===== GLOBAL ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: radial-gradient(circle at bottom right, #00000c, #0f0f17);
  color: #fff;
  padding: 20px;
}

/* ===== HEADER ===== */
.header {
  background: rgba(20, 20, 35, 0.8);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid #050008;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 22px;
  letter-spacing: 1px;
}

.header p {
  font-size: 14px;
  opacity: 0.8;
}

.status {
  color: #00ff84;
  font-weight: bold;
}

/* ===== GRID SYSTEM ===== */
.grid {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1.3fr 1fr 1fr;
  gap: 20px;
}

/* ===== CARD ===== */
.card {
  background: rgba(25, 25, 40, 0.9);
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #000000;
  box-shadow: 0 0 20px rgba(26, 0, 46, 0.15);
}

.card h2 {
  margin-bottom: 15px;
  color: #ffffff;
  text-shadow: 0 0 8px rgba(144, 0, 255, 0);
}

.card.wide {
  grid-column: span 1;
}

.data p {
  font-size: 18px;
  margin-bottom: 12px;
}

/* ===== LOG BOX ===== */
.log-box {
  background: #000;
  border: 1px solid #000000;
  height: 250px;
  overflow-y: auto;
  padding: 10px;
  font-family: "Consolas", monospace;
  color: #66e490;
  font-size: 14px;
  border-radius: 8px;
}

/* ===== BUTTONS ===== */
.buttons button {
  width: 100%;
  margin-bottom: 10px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #0a001a;
  color: white;
  font-weight: bold;
  transition: 0.2s;
}

.buttons button:hover {
  background: #000000;
  transform: translateY(-3px);
}

/* ===== FOOTER ===== */
footer {
  margin-top: 30px;
  text-align: center;
  font-size: 13px;
  opacity: 0.6;
}
